# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

helper.txt
index.html
src/assets
src/App.tsx
src/about.ts
src/Footer.tsx  
src/htmx.ts
src/Header.tsx
src/BridgeReact.tsx
src/BridgeReact2.tsx
src/htmx.ts
src/css
public
src/css
src/vite-env.d.ts
index.php
about.php
.vscode
src/htmx.ts 
eslint.config.js 
index.php
./index2.html
./index.html
home.php





